@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
@import "tailwindcss";

:root {
  font-family: "Jacques Francois", serif;
  background-color: #090909;
  min-height: 100vh;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

p {
  color: #ECDCBD;
}
