.navbar {
    height: 3rem;
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #2F1110;
    position: sticky;
    z-index: 50;
    top: 1px;
    margin-top: 20px;
}

.navbar div {
    height: 95%;
    border: 0px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar div button {
    color: #ECDCBD;
}

.navbar div button:hover {
    font-size: 18px;
    padding-bottom: 3px;
    animation: text-shadow-animation 0.15s ease-in forwards;
    cursor: pointer;
}

.navbar::before,
.navbar::after {
    content: '';
    height: 1px;
    background: radial-gradient(#ECDCBD 20%, #090909);
    position: absolute;
    left: 0;
    right: 0;
}

.navbar::before {
    top: -1px;
}

.navbar::after {
    bottom: -1px;
}

@keyframes text-shadow-animation {
    100% {
        text-shadow: 0 0 5px #e4ca97;
    }
}